<nav>
    <a class="navlink" href="/home">Home</a>
    <a class="navlink" href="/tossup">Read Tossups</a>
    <a class="navlink" href="/card">Card Clues</a>
    <a class="navlink" href="/database">Search Database</a>
    <a class="navlink" href="https://aamindmandragora.vercel.app" target="_blank">Creator</a>
</nav>