<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" href="/styles/home.css">
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div id="content">
                <p>
                    Welcome to QBDojo! You can search the database to see all the answerlines I've added, and read randomly generated tossups/cards to yourself. Each clue's difficulty is relative to high school Quiz Bowl, although that will change in the future.
                    <br><br>
                    I am currently adding all the answerlines by hand (it's actually a great way to study), but because of that there aren't many answerlines in the database. I might end up automating the process or creating an account-based system if people want to manually add answerlines to the database (trust me, it's a great way to study).
                    <br><br>
                    Feel free to complain at me <a href="https://discord.com/users/1009965907235319888" target="_blank">here</a> or <a href="mailto:advaythp@gmail.com" target="_blank">here</a>, and let me know about any niche study methods, preferably ones not on any popular training site!
                </p>
            </div>
        </main>
    </body>
</html>